
.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #333;
}

.title-box {
  width: 100%;
  text-align: left;
  p {
    margin-top: 5px;
    font-size: 13px;
    color: #808080;
  }
}